body {
	max-width: 1000px;
	margin: 0 auto;
}

.year-tag {display: none;}

@media only screen and (min-width: 550px) {
	#main {
		> .year-tag {display: block; float: left; margin-top: 11px;}
		> .summary {
			margin-left: 80px;
			padding: 10px 0 10px 70px;
			position: relative;
		}
	}
	article > time {
		position: absolute;
		left: 0;
		top: 21px;
	}
	.blog-year {display: none;}
}
