body {
	max-width: 1000px;
	margin: 0 auto;
}

*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

.year-tag {display: none;}

footer {
  border-top: 1px solid #f2f2f2;
  padding-top: 16px;
  padding-bottom: 16px;
  margin-top: 16px;
}

nav {margin-bottom: 15px;}

.pull-right {float: right;}

#blog-content {
  margin: 10px 0;
}

@media only screen and (min-width: 550px) {
	#main {
		> .year-tag {display: block; float: left; margin-top: 11px;}
		> .summary {
			margin-left: 80px;
			padding: 10px 0 10px 70px;
			position: relative;
		}
	}
	article > time {
		position: absolute;
		left: 0;
		top: 21px;
	}
	.blog-year {display: none;}
}
