body {
  color: $text-color;
  font-size: 16px;
  font-family: $base-font-family;
  font-weight: $base-font-weight;
  line-height: 1.6;
  padding: 20px;
  text-rendering: optimizeLegibility;
}

body, input, button {-webkit-font-smoothing: antialiased; }

p { -moz-osx-font-smoothing: grayscale; }

a {
  color: $link-color;
  text-decoration: none;
  @include transition(color 0.3s);
  &:hover, &:visited:hover {
    color: $link-hover-color;
    text-decoration: underline;
  }
}

h1, h2, h3, h4, h5, h6 {font-family: $heading-font-family; font-weight: $heading-font-weight;}

h1 {font-size: 35px;}
h2 {font-size: 24px;}
h3 {font-size: 20px;}
article > h1, .year-tag {font-size: 24px;}
footer {font-size: 12px;}

pre, code { font-family: $fixed-font-family; font-size: $fixed-font-size; line-height: $fixed-line-height; }

.quiet { font-color: $quiet-color; }
.loud  { font-color: $loud-color; }

i, em { font-style: italic; }
b, strong { font-weight: 700; @extend .loud; }

ul { list-style-type: disc; }
ol { list-style: decimal; }

nav li {list-style: none; display: inline-block;}

.year-tag,time {color: #aaa;}

time {font-size: 14px;}

@media only screen and (min-width: 768px) {
  h1 {font-size: 42px;}
  h2 {font-size: 19px;}
}

@media only screen and (min-width: 992px) {
  h1 {font-size: 52px;}
  h2 {font-size: 23px;}
  body {font-size: 18px;}
  article {
    h1 {font-size: 48px;}
    h2 {font-size: 28px;}
    h3 {font-size: 23px;}
  }
	.summary > h1, .year-tag {font-size: 28px;}
  time {font-size: 17px;}
  footer {font-size: 14px;}
}

