$text-color: #333;
$quiet-color: #ccc;
$loud-color: #000;
$heading-color: #111;

$link-color: #222;
$link-hover-color: #0181eb;
$link-visited-color: purple;

$base-font-family: 'Open Sans', sans-serif;
$base-font-size: 18px;
$base-font-weight: 400;

$fixed-font-family: 'Andale Mono', AndaleMono, monospace;
$fixed-font-size: 15px;
$fixed-line-height: 1.2;

$heading-font-family: 'Open Sans', sans-serif;
$heading-font-weight: 400;