@import "compass";

@include global-reset;
@include reset-html5;

@import "variables";
@import "layout";
@import "typography";
@import "form";

html {
  background: #f8f8f8 url('/images/noise.png') top left;
}

.summary {border-bottom: 1px #aaa dashed;}

.summary:last-child {border-bottom: none;}

nav li {
  padding: 0 5px;
  border-radius: 3px;
  margin-right: 10px;
  background: #fcfcfc;
  @include box-shadow(#adadad 0px 3px 5px);
}

nav li.active {
  background: #c4c4c4;
  @include box-shadow(#525252 0px 3px 5px);
}

nav li:hover {
  background: #333;
  a {color: #f2f2f2 !important;}
}