@import "compass";

@include global-reset;
@include reset-html5;

@import "variables";
@import "layout";
@import "typography";
@import "form";
@import "dropdown";
@import "nav";

html {
  background: #f8f8f8 url('/images/noise.png') top left;
}

.summary {border-bottom: 1px #aaa dashed;}

.summary:last-child {border-bottom: none;}

article header {border-bottom: 1px #aaa dashed;}

[contenteditable='true']:empty:not(:focus):before{content:attr(placeholder)}